# Ignore everything
**

# ... except for dependencies and source
!app.py
!job.py
!kokudaily/
!LICENSE
!Pipfile
!Pipfile.lock

# keep the test files out of the final image
**/*test*
**/__pycache__
**/*.log
