DATABASE_HOST=localhost
DATABASE_PORT=15432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
PGADMIN_PASSWORD=postgres
DATABASE_NAME=postgres
NAMESPACE=NAMESPACE
EMAIL_USER=EMAIL_USER
EMAIL_PASSWORD=EMAIL_PASSWORD
EMAIL_GROUPS={"engineering": "email1@foo.com", "marketing": "email2@foo.com"}
