[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
psycopg2-binary = ">=2.7.0"
sqlalchemy = "==1.3.3"
dash = "*"
prometheus-client = "*"
python-dateutil = ">=2.8"
pytz = "*"
app-common-python = "*"
minio = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
